body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1,h2,h3,h6,small,p,ul,span{
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
}
.profile-container{
    display: flex;
    min-height: 100vh;
    background-color:  hsl(185, 98%, 26%);
    background-image: url(/public/bg-pattern-top.svg),url(/public/bg-pattern-bottom.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: right 100vh bottom 40vh , top 40vh left 100vh;
    
}
.wrapper{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    background-color: aliceblue;
    border-radius: 15px;
    box-shadow: 0px 55px 100px rgba(0, 0, 0, 0.343);
}
.user-cover-container{
    overflow: hidden; 
}
.user-cover-container > img{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    image-rendering: optimizeQuality;
    image-resolution: 300dpi;
    filter:brightness(110%);
    transition: all 1s ease-in-out;
    animation: 1.5s toBottom ease-in-out;
}
.user-profile-container{
    position: absolute;
    top: 14%;
    bottom: 0%;
}
.user-profile-container > img{
    width: 110px;
    height: 110px;
    image-rendering: optimizeQuality;
    image-resolution: 300dpi;
    border-radius: 50%;
    border: 5px solid white;
    animation: 1.5s toBottom ease-in-out;
}
.user-information-container{
    text-align: center;
    margin-top: 50px;
    width: 100%;
}
.user-information-container > h2{
    display: inline-block;
    animation: 1.5s toBottom ease-in-out;
    font-size: 1.2rem;
    padding-inline-end: 10px;
    font-weight: 700;
    letter-spacing: 0.5;
}
.user-information-container > span {
    font-weight: 400;
    animation: 1.5s toBottom ease-in-out;
    font-size: 1.3rem;
    color: hsl(0, 0%, 59%);
}
.user-information-container > h6 {
    animation: 1.5s toBottom ease-in-out;
    margin: 10px 0px 15px 0px;
    font-size: 13px;
    font-weight: 400;
    color: hsl(0, 0%, 59%);
    padding-bottom: 10px;
}
.hr {
    margin-top: 10px;
    width: 100%;
    height: 1px;
    border: none;
    background-color: hsl(225, 9%, 74%);
    animation: 1.5s toTop ease-in-out;
}
.user-other-details{
    padding: 20px;
    width: 100%;

}
.ul-1 ,.ul-2{
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    place-items: center;
    animation: 1.5s toTop ease-in-out;
}

.ul-1 > li{
    
    font-weight: 700;
    font-size: 1.2rem;
}
.ul-2 > li{
    
    margin-top: 5px;
    color: hsl(0, 0%, 59%);
    font-weight: 400;
    font-size: 0.8rem;
    letter-spacing: 1px;
}
.user-cover-container > img:hover{
    transform: scale(2);
    filter:brightness(100%);
}
@keyframes toTop {
    
    0%{
        opacity: 0;
        transform: translateY(100%);
    }
    100%{
        opacity: 1;
        transform: translateY(0%);
    }
}
@keyframes toBottom {
    
    0%{
        opacity: 0;
        transform: translateY(-100%);
    }
    100%{
        opacity: 1;
        transform: translateY(0%);
    }
}
@media (max-width:800px) {
    .profile-container{
        background-position: right 50vh bottom 40vh , top 40vh left 50vh;  
    }
}
@media (max-width:400px) {
    .user-cover-container > img{
        width: 300px;
    }
    .user-profile-container > img{
        width: 90px;
        height: 90px;
    
    }
    .user-information-container{
        margin-top: 40px;

    }
    .profile-container{
        background-position: right -10vh bottom 40vh , top 40vh left -10vh;  
    }
}
@media (max-width:320px) {
    .user-cover-container > img{
        width: 250px;
    }
    .user-profile-container > img{
        width: 80px;
        height: 80px;
    
    }
    .user-information-container{
        margin-top: 40px;

    }
    .ul-1 > li{
        font-size: 0.9rem;
    }
    .ul-2 > li{
        font-size: 0.7rem;
    }
}